.lightbox{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: 0;
}

.lightbox.active{
	opacity: 1;
	pointer-events: initial;
}


.lightbox-content{
	position: absolute;
	top: 50%;
	left: 50%;
	max-height: calc(100% - 6em);
	max-width: calc(100% - 6em);
	transform: translate(-50%, -50%);
}

.lightbox-back{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}


.lightbox-content img{
	max-width: 100%;
	max-height: 100%;
}

.lightbox-content::after{
	content: '\000D7';
	position: absolute;
	top: -2em;
	right: -2em;
	width: 2em;
	height: 2em;
	line-height: 2em;
	text-align: center;
	background-color: white;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	border-radius: 2em;
	pointer-events: none;
}













